<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

<div  class="nav">
    <div>
        <a routerLink="/clientes" routerLinkActive="active" araiaCurrentWenActive="page" class="btn btn-primary">Clientes</a>
    </div>
    
    
    <div>
        <a routerLink="/produtos" routerLinkActive="active" araiaCurrentWenActive="page" class="btn btn-secondary">Produtos</a>
    </div>
    
    <div>
        <a routerLink="/receitas" routerLinkActive="active" araiaCurrentWenActive="page" class="btn btn-success">Receita</a>
    </div>

    <div>
        <a routerLink="/estoque" routerLinkActive="active" araiaCurrentWenActive="page" class="btn btn-danger">Estoque</a>
    </div>
</div>


<router-outlet />

<!-- <app-cadastro-receita></app-cadastro-receita> -->
<!-- <app-cadastro-produto></app-cadastro-produto> -->



