<div class="formulario">
    <h2>{{ idParaEditar !== undefined ? 'Editar Produto' : 'Cadastrar Produto' }}</h2>
  
    <label>Nome:</label>
    <input type="text" [(ngModel)]="nome" placeholder="Digite o nome do produto" />

    <select name="opcao" id="opcao">
        <option value="">Escolha a opção</option>
        <option value="Arroz">Arroz</option>
        <option value="Feijão">Feijão</option>
        <option value="macarrao">Macarrão</option>
        <option value="Carne">Carne</option>
        <option value="Frango">Frango</option>
    </select>
  
    <button (click)="salvarProduto()">
      {{ idParaEditar !== undefined ? 'Salvar Edição' : 'Cadastrar' }}
    </button>
  </div>
  
  <hr />
  
  <h3>Lista de Produtos</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produtos">
        <td>{{ p.id }}</td>
        <td>{{ p.nome }}</td>
        <td>
          <button (click)="editar(p)">Editar</button>
          <button (click)="apagar(p)">Apagar</button>
        </td>
      </tr>
    </tbody>
    
       
       
   
  </table>
  