<p>estoque-cadastro works!</p>


    <div>
        <select name="selecao" id="selecao">
            <option value="selecao">Selecione a opção</option>
            <option value="Estoque de matéria-prima">Estoque de matéria-prima</option>
            <option value="Estoque de bens para o varejo">Estoque de bens para o varejo</option>
            <option value="Estoque de segurança">Estoque de segurança</option>
            <option value="Estoque de contingência">Estoque de contingência</option>
            <option value="Estoque consignado">Estoque consignado</option>
        </select>
    </div>

    <div>

        <input type="date" name="data" id="data">
    </div>
  
